html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body(style="background: #CCCCCC")
        div(class="row")
            div(class="card-deck mx-auto")
                div(class="card text-center")
                    img(id="map_image" class="card-img-top" src=`${map.image}`)
                    div(class="card-body")
                        h1(id="map_id" class="card-title") #{map.id}
                        p(id='map_site' class="card-text") Start the game on site #{map.site}
                        button(class="btn btn-outline-success" onclick="reroll('map')") Re-Roll Map
                div(class="card text-center")
                    img(id="agent_image" class="card-img-top" src=`${agent.image}`)
                    div(class="card-body")
                        h1(id="agent_id" class="card-title") #{agent.id}
                        button(class="btn btn-outline-success" onclick="reroll('agent')") Re-Roll Agent
                div(class="card text-center")
                        img(id="weapon_image" class="card-img-top" src=`${weapon.image}`)
                        div(class="card-body")
                            h1(id="weapon_id" class="card-title") #{weapon.id}
                            div(class="input-group input-group-sm mb-3")
                                div(class="input-group-prepend")
                                    span(class="input-group-text") Money
                                input(id="budget" type="number" class="form-control" placeholder="1600")
                            button(class="btn btn-outline-success" onclick="reroll('weapon')") Re-Roll Weapon
        script
            include random.js
        script(src="/__/firebase/7.18.0/firebase-app.js")
        script(src="/__/firebase/7.18.0/firebase-analytics.js")
        script(src="/__/firebase/init.js")